[Unit]
Description=Doorbell
After=network.target

[Service]
ExecStart=python3 -u doorbell.py
WorkingDirectory=/home/pi/python/doorbell/api/
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target


#Edit value for WorkingDirectory
#Copy this file to /etc/systemd/system/
sudo systemctl daemon-reload
sudo systemctl start doorbell.service
